[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/landing-page"]
	path = themes/landing-page
	url = https://github.com/HugoBlox/theme-landing-page
